build/
mytrip/.gradle/
.idea/
mytrip/gradle/
mytrip/gradle/wrapper/

#######################################################
# Versione 1.2 (18/05/2017)
#
# https://github.com/github/gitignore
# https://en.wikipedia.org/wiki/List_of_archive_formats
#
# Show ignored files:
#
#   git check-ignore **/* -v
#   git clean -ndX
#
#######################################################

######
# Misc
######

*.~*
*.bak*
*.bin*
*.dat*
*.dump*
*.hprof
*.log*
*.msi*
*.old*
*tmp*
*tmp*.*
*_old*.*
*.swp*
*dump*
~*.*
hs_err_pid*
logs/

##################
# Compresses files
##################

*.7z
*.a
*.ar
*.arc
*.ace
*.arj
*.cab
*.cpio
*.dd
*.bz2
*.gz
*.iso
*.lz*
*.rar
*.sfx
*.s7z
*.tar
*.tar.*
*.uc*
*.z
*.zip*
*.zz

#############
# Executables
#############

*.app
*.elf
*.exe
*.dll
*.hex
*.i*86
*.mod*
.mtj.tmp/
*.ocx
*.out
*.smod*
*.so
*.so.*
*.x86_64

#########
# Windows
#########

*.dll
Thumbs.db

#######
# C/C++ 
#######

*.aps
*.d
*.DotSettings
*.idb
*.exp
*.gch
*.dSYM/
*.dylib
*.ko
*.la
*.lai
*.lib
*.lo
*.map
*.ncb
*.o
*.pch
*.pdb
*.sdf
*.slm
*.slo
*.su
*.suo
*.sdb
*.user
*pch/
*_ReSharper*.*
_UpgradeReport_Files/
cache/
Debug/
obj/
packages/
Release/
UpgradeLog.XML

########
# Delphi
########

*.dcu
*.ddp
*.dsk
*.dti
*.filters
*.identcache
*.local
*.vshost*.*

################
# Java / Eclipse
################

*.apk
*.class
*.ear
*.iml
*.ipr
*.iws
*.launch
*.jar
*.war
.buildpath
.classpath
.cproject
.externalToolBuilders
.factorypath
.idea
.loadpath
.project
.recommenders/
.settings
.springBeans
.target
.tern-project
.texlipse
classes/
local.properties
target/
workspace*/

#######
# Scala
#######

.cache-main
.scala_dependencies
.worksheet

#####
# VCS
#####

.cvsignore
.git
.svn
submodules/
*/.gitignore

###########
# Microsoft
########### 

*.Publish.xml

#############
# BlueJ files
#############

*.ctxt

##############################
# Mobile Tools for Java (J2ME)
##############################

.mtj.tmp/

########
# Python
########

*.pydevproject
/bin
/.metadata/
.idea
